@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}


<!--Start rev slider wrapper-->
<!--Start call to action area-->
<section class="callto-action-area sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="text-holder">
                    <div class="sec-title text-right">
                        <h3>Some Story Behind Us</h3>
                        <h1>We Have 20 Years of experince</h1>
                        <p>We handpick the best coaches and health experts from across the country to make sure you get the mostpersonalized health care you deserve between those doctor visits.</p>
                    </div>
                    <div class="row text-box">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-text-box pdr-30 text-right">
                                <h3>Our Mission</h3>
                                <p>Explain to you how all this mistaken idea of denouncing ut pleasure work praising pain was born and will give.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-text-box pdl-30 text-left">
                                <h3>Our Vision</h3>
                                <p>Pleasure work praising pain ut was born and will give you can complete design account sed the system.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="signature-readmore">
                                <div class="button pull-right">
                                    <a class="thm-btn bgclr-1" href="#">Read More</a>
                                </div>
                                <div class="signature pull-right">
                                    <img src="~/Images/resources/signature.png" alt="signature">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="img-holder wow slideInRight text-center">
                    <img src="~/Images/resources/callto-action.png" alt="Awesome Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End call to action area-->


<section class="consultations-area" style="background-image:url(/Images/resources/consultation-bg.jpg">
    <div class="container wow zoomIn" data-wow-delay="100ms" data-wow-duration="900ms">
        <div class="sec-title text-center">
            <h3>Lets Talk</h3>
            <h1>Request For Consultation</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                            <div class="consultations-form-box">
                                <form id="consultations-form" name="consultations-form" action="inc/sendmail.php" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="form_name" value="" placeholder="Name *" required="">
                                            <input type="email" name="form_email" value="" placeholder="Email *" required="">
                                            <select class="selectmenu">
                                                <option selected="selected">Select Service</option>
                                                <option>Balance Body Mind</option>
                                                <option>Physical Activity</option>
                                                <option>Support & Motivation</option>
                                                <option>Exercise Program</option>
                                                <option>Healthy Daily Life</option>
                                                <option>First Hand Advice</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <textarea name="form_message" placeholder="Your Message.." required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="thm-btn bgclr-1" type="submit">Submit Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                            <div class="contact-info">
                                <h2>Contact Details</h2>
                                <ul>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-arrows"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5>Address: 121, Park Drive, Varick<br>Str, New York, NY 10012, USA</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-technology"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5>Phone: (123) 0200 12345 &<br>1800-45-678-9012</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-note"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5>Email: Mailus@Healthcoach.com</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End consultations area-->
<!--Start slogan area-->

<section class="slogan-area" style="background-image:url(/Images/resources/consultation-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content text-center">
                    <h1>A Natural way of improving your health.</h1>
                    <p>Health Coach look at exercise, eating, wellness and food not just as calories and weight</p>
                    <p>loss, but also emotional, mental and physical.</p>
                    <a class="thm-btn bgclr-1" href="#">Make an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End slogan area-->
<!--Start choosing area-->
<section class="choosing-area">
    <div class="container">
        <div class="sec-title text-center">
            <h3></h3>
            <h1>Why People Choose Me</h1>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>Nutrition Strategies</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-food"></span>
                        </div>
                        <div class="text">
                            <p>Provides a professional dietary and nutrition consulting service aimed to helping you achieve.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>Workout Routines</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-sports-1"></span>
                        </div>
                        <div class="text">
                            <p>Finding a workout is as easy scrolling down, picking out the session that matches your goals.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>Support & Motivation</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-line"></span>
                        </div>
                        <div class="text">
                            <p>We cannot always expect each of our clients to maintain a consistent level of motivation, no matter.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>First Hand Advice</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-note-1"></span>
                        </div>
                        <div class="text">
                            <p>Provides a professional dietary and nutrition consulting service aimed to helping you achieve.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>Individual Coaching</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-exercise-1"></span>
                        </div>
                        <div class="text">
                            <p>Reach your wellness goals quick with personalized coaching. We focus on turning weight loss, stress.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>Certified Company</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-business"></span>
                        </div>
                        <div class="text">
                            <p>Provides a professional dietary and nutrition consulting service aimed to helping you achieve.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End choosing area-->
<!--Start testimonial area-->
<section class="testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title pull-left">
                    <h3>Testimonials</h3>
                    <h1>Successful Stories</h1>
                </div>
                <div class="more-button pull-right">
                    <a href="#">More Stories</a>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="~/Images/testimonial/1.png" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Lost 80 Pounds and 4 Sizes</h3>
                        <p>Ladies, meet your new hero. Men, prepare to be humbled. My friend Staci, or Spezzy as she’s known health Coach.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Steve Bairstow</h3>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="~/Images/testimonial/2.png" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Lost 146 Pounds and 5 Sizes</h3>
                        <p>In 10 months of following Health Coach, Joe has lost 128 pounds. If you are overweight, out of shape, and worried that.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Don Fletcher</h3>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="~/Images/testimonial/3.png" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Got Herself into the Shape</h3>
                        <p>When it comes to weight loss, exercise is your best friend.  If you haven’t exercised for a long time and are very out.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Jessica Jung</h3>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End testimonial area-->
<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright-text">
                    <p>Copyrights © 2017 All Rights Reserved, Powered by <a href="#">Health Coach.</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="footer-social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-chevron-circle-up"></span></div>
