@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="scroller">
    <div style="margin-top:5%; height: 100%; width:100%;" class="row ">
        <div class="col-md-10">
            <img src="~/Content/Assets/hero.jpg" class="img-responsive" />
        </div>
        <div class="col-md-2">
            <h2>Crawford Crosstraining</h2>
            <p>Bacon ipsum dolor amet rump pork chop prosciutto short loin ribeye meatloaf. Turkey chicken corned beef, frankfurter tail tenderloin pork loin sausage t-bone salami ham flank cupim. Turducken rump shankle, pancetta doner ham ground round flank corned beef hamburger landjaeger. Frankfurter ham pastrami, doner tenderloin chuck bresaola shank rump. Drumstick leberkas tri-tip turducken prosciutto tenderloin tongue pork chop.</p>
        </div>
    </div>
    <div style="margin-top:5%; background-color: darkgrey" class="row">
        <div class="col-md-offset-4 col-md-4 center">
            <h2>Big things are coming! Sign up to stay in the loop!</h2>
            <button class="btn-primary" onclick="location.href='@Url.Action("Login","Account")'"> Sign Up</button>
        </div>
    </div>
    <div style="margin-top:5%; height: 100%; width:100%" class="row">
        <div class="col-md-8">
            <img src="~/Content/Assets/crawford.jpg" class="img-circle img-responsive" />
        </div>
        <div class="col-md-4">
            <h2>Zachary Crawford</h2>
            <h3>Owner and master trainer</h3>
            <p>Bacon ipsum dolor amet rump pork chop prosciutto short loin ribeye meatloaf. Turkey chicken corned beef, frankfurter tail tenderloin pork loin sausage t-bone salami ham flank cupim. Turducken rump shankle, pancetta doner ham ground round flank corned beef hamburger landjaeger. Frankfurter ham pastrami, doner tenderloin chuck bresaola shank rump. Drumstick leberkas tri-tip turducken prosciutto tenderloin tongue pork chop.</p>
            <button class="btn-primary" onclick="location.href='@Url.Action("Index","Bookings")'"> Book With Me</button>
        </div>
    </div>
</div>
