@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}
<!--Start rev slider wrapper-->
<!--Start call to action area-->
<section class="callto-action-area sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="text-holder">
                    <div class="sec-title text-right">
                        <h3>Crawford Crosstraining and Online Coaching</h3>
                        <h1>Over 5 Years Experience Transforming Bodies and Lives</h1>
                        <p>Zachary Crawford is a NASM, FMS, and Compete Human Performance hybrid certified personal trainer specializing in integrating strength and endurance programming. Clients come to him for weight loss, muscle gain, powerlifting, running, triathlons and general health and movement quality. He has worked with clients from 14-93 years old with an emphasis on improving quality of life.</p>
                    </div>
                    <div class="row text-box">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-text-box pdr-30 text-right">
                                <h3>Freedom to Train</h3>
                                <p>Personalized plans let you train anywhere you want. Bacon ipsum dolor amet tenderloin pork flank jowl shank filet mignon doner frankfurter tri-tip bresaola porchetta boudin chuck tail brisket. Ground round sirloin flank brisket, sausage turducken chicken turkey rump hamburger swine boudin picanha capicola cow.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-text-box pdl-30 text-left">
                                <h3>24/7 Support</h3>
                                <p>We know that fitness is a full time job, so we are available online every day to help. Bacon ipsum dolor amet tenderloin pork flank jowl shank filet mignon doner frankfurter tri-tip bresaola porchetta boudin chuck tail brisket. Ground round sirloin flank brisket, sausage turducken chicken turkey rump hamburger.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="signature-readmore">                                
                                <div class="signature pull-right">
                                    <img src="~/Images/resources/signature.png" alt="signature">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="img-holder wow slideInRight text-center">
                    <img style="border-radius: 50%;" src="~/Images/35416249_10155805169548823_8271624665793822720_n.jpg" alt="Awesome Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End call to action area-->


<!--Start slogan area-->

<section class="slogan-area" style="background-image:url(/Images/adult-barbell.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content text-center">
                    <h1>Online Coaching and Nutrition</h1>
                    <p>Bacon ipsum dolor amet tenderloin pork flank jowl shank filet mignon doner frankfurter tri-tip bresaola porchetta boudin chuck tail brisket. Ground round sirloin flank brisket, sausage turducken chicken turkey rump hamburger swine boudin picanha capicola cow. Cow t-bone ham hock kevin beef ribs filet mignon pork belly shank capicola biltong boudin tongue picanha pancetta spare ribs. Bacon buffalo beef, kevin strip steak hamburger ham kielbasa pork swine sausage shank ham hock. Pastrami kielbasa chicken jerky ham bresaola biltong.</p>                    
                    <a class="thm-btn bgclr-1" href='@Url.Action("Index", "Bookings")'>Make an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End slogan area-->
<!--Start choosing area-->
<section class="choosing-area">
    <div class="container">
        <div class="sec-title text-center">
            <h3></h3>
            <h1>Why People Choose Us</h1>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>Nutrition Strategies</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-food"></span>
                        </div>
                        <div class="text">
                            <p>We provide professional dietary and nutrition consulting.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>Workout Routines</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-sports-1"></span>
                        </div>
                        <div class="text">
                            <p>Personalized workout programing that works with your life and meets your goals.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>Support & Motivation</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-line"></span>
                        </div>
                        <div class="text">
                            <p>24/7 Training Support helps you reach your goals no matter when.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="row">
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>First Hand Advice</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-note-1"></span>
                        </div>
                        <div class="text">
                            <p>Profesionally quality competition training</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>Individual Coaching</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-exercise-1"></span>
                        </div>
                        <div class="text">
                            <p>Injury Prevention and Recovery</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="title">
                        <h3>Certified Company</h3>
                    </div>
                    <div class="text-holder">
                        <div class="iocn">
                            <span class="flaticon-business"></span>
                        </div>
                        <div class="text">
                            <p>We're certified in a whole lot of different areas that are totally sweet.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!--End single item-->
        </div>
    
</section>
<!--End choosing area-->
<!--Start testimonial area-->
<section class="testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title text-center">
                    <h3>Testimonials</h3>
                    <h1>Successful Stories</h1>
                </div>                
            </div>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="~/Images/thanos.png" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Lost 80 Pounds and got 5 Infinity Stones</h3>
                        <p>Zach's Training and Nutritional programs are perfectly balanced, as all things should be!</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Thanos</h3>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="~/Images/mountain.png" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Gained 100 lbs of pure mass!</h3>
                        <p>Thanks to Crawford Crosstraining, I crushed the competition! With their expert programming I feel like a new man!</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>The Mountain</h3>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="~/Images/skeleton.jpg" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Lost all her body weight!</h3>
                        <p>The experts at Crawford Crosstraining fixed the issues preventing me from reaching my fitness goals.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Sarah McSkeleton</h3>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End testimonial area-->


